# TELEGRAM BOT
BOT_TOKEN_TEMP=
BOT_OWNER_ID=
BOT_TOKEN=

# CACHE
CACHE_URL=redis://cache:6379/0

# TIME ZONE AND REMINDER
TIME_LOCATION=Europe/Moscow
UPCOMING_REMINDER=20m
GOMAA_NOTIFY_HOUR=8h

# DATABASE
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=gopray

# FILE SYSTEM
DATA_PATH=/times.csv
LANGUAGES_PATH=/languages
